html {
  font-family: Roboto, sans-serif;
}

.back-blue {
  background-color: #9fc3d9;
}

.back-tur {
  background-color: #d0eeec;
}

nav {
  display: inline-block;
  text-align: center;
}

.img {
  width: 100%;
  display: block;
}

.banner {
  position: relative;
  max-height: 700px;
  overflow: hidden;
}

.back-lightblue {
  background-color: #dee9f0;
}

a {
  text-decoration: none;
  color: #000;
  padding: .5em .75em;
}

.hover:hover {
  background-color: #9fc3d9;
  color: #fff;
  border-radius: 8px;
}

.absolute {
  position: absolute;
  top: 20%;
  left: 10%;
}

.social {
  display: inline;
}

.white {
  color: #fff;
}

.back-opacity {
  background-color: rgba(159, 195, 217, 0.7);
}

table {
  border: 6px solid #336280;
}

th {
  background-color: #9fc3d9;
  text-align: center;
  border: 6px solid #336280;
}

td {
  border: 1px solid #000;
  text-align: center;
}
